:root {
    --color-white: hsl(0, 0%, 100%);
    --color-lightcean: hsl(193, 38%, 86%);
    --color-neongreen: hsl(150, 100%, 66%);
    --color-grayblue: hsl(217, 19%, 38%);
    --color-graydark: hsl(217, 19%, 24%);
    --color-darkblue: hsl(218, 23%, 16%);
    --font: 'Manrope', sans-serif;
}

body {
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: var(--font);
    font-weight: 800;
    color: var(--color-white);
    background-color: var(--color-darkblue);
    margin: 0;
}

main {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    width: 100%;
    min-height: 100vh;
    align-items: center;
}
.box {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 50px;
    background-color: var(--color-grayblue);
    min-height: 200px;
    width: 400px;
    border-radius: 12px;
    transition: ease 0.3s;
}

h2 {
    font-size: 28px;
    text-align: center;
}

.advice {
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-neongreen);
    letter-spacing: 2px;
}

button {
    margin: auto auto 0 auto;
    padding: 10px 20px;
    background-color: var(--color-neongreen);
    color: var(--color-darkblue);
    font-size: 14px;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    transition: ease 0.4s;
    font-family: var(--font);
    font-weight: 800;
    text-transform: uppercase;
}
button:hover {
    background-color: var(--color-lightcean);
    color: var(--color-grayblue);
    padding: 10px;
    transition: ease 0.4s;
}

.note {
    font-size: 0.8em;
    text-align: center;
    margin: 50px 0 10px 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}